* {
    padding: 0;
    margin: 0;}

.ulform{
    font-weight: bold;
    font-size: 18px;
    /*Fixed an issue where bullets wouldn't show up in unordered lists on line 23*/
    margin-left:1.3cm;
    color:white;
}

/* Repositioned the images*/

.img_possition_form{
    display: flex;
    gap: 50px;
}

.imghomep_possition_form{
    display:flex;
}

/*DESIGN*/
/*Changed the colour of all pages in the website*/

body{
    background-color:rgb(0, 0, 0);
}
.navbar button:hover{
    background-color:aqua;
}
.current_page{
    background: aqua;
}
button{
    font-size:20px;
    background-color:rgb(16, 130, 150);
    border: 4px rgb(14, 52, 124) solid;
    width: 263px;
    height: 110px;
    color: rgb(14, 52, 124)
}
.navbartext{
    text-decoration:none;
}
.navbarpositioning{
    display:flex;
} 

.parform{
    font-size: 22px;
    margin-left: 0.3cm;
    color:white;
    font-size:27px;
}

.headform{
    margin-left: 0.1cm;
    color:rgb(16, 130, 150);
    font-size:50px;
}

.mainH{
    color:rgb(16, 130, 150);
    font-size: 90px;
    text-align:center;
    margin:150px;
}

.mainH2{
    color:rgb(16, 130, 150);
    font-size: 55px;
}

.HPimg{
    width:600px;
    height:600px;
}

.appimg{
    width:900px;
    height:700px;
}

img{
    align-self: center;
    max-width: 100%;
    flex-direction:column;
}

.Sources{
    text-decoration: none;
    font-size:35px;
    color:white;
}
.menupos{
    display:flex;
}
.Page{
    background-color: rgb(27, 26, 26);
    height:2200px;
    width:7000px;
}
.SupportUs{
    background-color:rgb(27, 26, 26);
    height:1000px;
    width:1500px;
}
.Content{
    background-color:rgb(27, 26, 26);
    height:1000px;
    width:1500px;
}
.menuheading{
    font-size:20px;
    background-color:rgb(16, 130, 150);
    border: 4px rgb(14, 52, 124) solid;
    width: 274px;
    height: 102px;
    color: rgb(14, 52, 124);
}
.ContentH{
    margin-left: 25px;
    margin-top: 25px;
}
.SupportUsH{
    margin-left: 16px;
    margin-top: 25px;
}
.SupportUsH2{
    color:rgb(16, 130, 150);
    font-size:50px;
}
.menutext{
    font-size: 30px;
    color: white;
}
.menuform{
    width:200px;
    height:50px;
}